<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>WiFi Manager</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">WiFi Manager</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                          <th scope="col">BSSID</th>
                          <th scope="col">SSID</th>
                          <th scope="col">MODE</th>
                          <th scope="col">CHAN</th>
                          <th scope="col">RATE</th>
                          <th scope="col">SIGNAL</th>
                          <th scope="col">BARS</th>
                          <th scope="col">SECURITY</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for network in wifi_data %}
                        <tr class="{% if network.SIGNAL|float > 90 %}bg-dark text-light{% else %} {% endif %}">
                            <td>{{ network.BSSID }}</td>
                            <td>{{ network.SSID }}</td>
                            <td>{{ network.MODE }}</td>
                            <td>{{ network.CHAN }}</td>
                            <td>{{ network.RATE }}</td>
                            <td>{{ network.SIGNAL }}</td>
                            <td>{{ network.BARS }}</td>
                            <td>{{ network.SECURITY }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <form class="form-inline" method="post">
                <div class="form-group mb-2">
                    <select name="network" class="form-control">
                        {% for network in networks_list %}
                            <option value="{{ network }}">{{ network }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2">
                    <input type="password" name="password" class="form-control" placeholder="Enter WiFi Password">
                </div>
                <button type="submit" class="btn mb-2">Connect</button>
            </form>
        </div>
    </div>
   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
